@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

.card {
    @apply rounded overflow-hidden shadow-lg;
}
body{
    background-color: rgb(18, 129, 129);
}
.input{
 
    width: 400px;
    height: 40px;
    margin-right: 3px;
    padding-left: 10px;
  }
 
  .card{
   
    margin-top: 20px;
    width: auto;
    padding: 20px;
  }
  
  .form , .ul{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
  }
  .ul li {
    color:white;
    font-size: 25px;
    
  }
  .title{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #fff
  }
  .btn-delete{
    width:28px ;
    height: 30px;
    border-radius: 20%;
    margin-left: 15px;
    background-color: brown;
    color:white
  }
  .btn-clear{
    width:150px ;
    height: 35px;
    background-color: rgba(26, 96, 177, 0.897);
    margin-top: 20px;
    justify-content: center;
    border-radius: 3%;
    color: #fff;
    
    font-size: 20px;
  }
  .div-btn-clear:hover{
    opacity: 0.6;
    cursor: pointer;
  }
  .div-btn-clear{
    display: flex;
    justify-content: center;
  }